:root {
    --wf-theme-core: #0d6efd;
    --wf-theme-100: hsl(216, 50%, 91%);
    --wf-theme-150: hsl(216, 50%, 86%);
    --wf-theme-200: hsl(216, 50%, 81%);
    --wf-theme-300: hsl(216, 50%, 71%);
    --wf-theme-400: hsl(216, 50%, 61%);
    --wf-theme-500: hsl(216, 50%, 51%);
    --wf-theme-600: hsl(216, 50%, 41%);
    --wf-theme-700: hsl(216, 50%, 31%);
    --wf-theme-800: hsl(216, 50%, 21%);
    --wf-theme-850: hsl(216, 50%, 16%);
    --wf-theme-900: hsl(216, 50%, 11%);

    --wf-gray-core: #adb5bd;
    --wf-gray-100: hsl(210, 17%, 98%);
    --wf-gray-150: hsl(210, 17%, 93%);
    --wf-gray-200: hsl(210, 17%, 88%);
    --wf-gray-300: hsl(210, 17%, 78%);
    --wf-gray-400: hsl(210, 17%, 68%);
    --wf-gray-500: hsl(210, 17%, 58%);
    --wf-gray-600: hsl(210, 17%, 48%);
    --wf-gray-700: hsl(210, 17%, 38%);
    --wf-gray-800: hsl(210, 17%, 28%);
    --wf-gray-850: hsl(210, 17%, 23%);
    --wf-gray-900: hsl(210, 17%, 18%);

    --wf-light-color: #deeefb;
    --wf-dark-color: #212121;
}

/* #region Sticky Footer */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}
/* #endregion Sticky Footer */

.btn-primary {
    --bs-btn-bg: var(--wf-gray-700);
    --bs-btn-border-color: var(--wf-gray-700);
    --bs-btn-hover-bg: #d40008;
    --bs-btn-hover-border-color: var(--wf-gray-700);
}

body {
    background-color: var(--wf-gray-100);
    color: var(--wf-dark-color);
}

.navbar-brand:hover {
    color: #d40008;
    transition: color 0.2s;
}

.navbar-brand {
    font-family: 'Paytone One', sans-serif;
    font-size: xx-large;
}

.navbar,
.footer {
    background-color: var(--wf-gray-900);
}

.footer {
    color: var(--wf-gray-200);
}

.socialicons {
    font-size: 2rem;
    padding-left: .5rem;
    color: var(--wf-gray-300);
    transition: color 0.2s;
}

.socialicons:hover {
    color: #d40008;
}

.app-logo {
    max-width: 400px;
}

.checklist i {
    color: #d40008;
    padding-right: .5rem;
}

.devicon {
    font-size: 4rem;
    background-color: #f7df1e;
}

.devicons {
    font-size: 4rem;
    padding-left: .5rem;
}

.even {
    font-weight: bolder
}

